﻿@model  BooksLibrary.Models.Admin
@{
    ViewBag.Title = "MyPage";
    Layout = "~/Views/Shared/_fe.cshtml";
}



<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Trendz Login Form Responsive Widget Template :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Trendz Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!--/Style-CSS -->
    <link rel="stylesheet" href="~/Content/frontend1/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->
</head>

<body>
    <!-- /login-section -->

    <section class="w3l-forms-23">
        <div class="forms23-block-hny">
            <div class="wrapper">
                <h1>Login Form</h1>
                <!-- if logo is image enable this
                    <a class="logo" href="index.html">
                      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a>
                -->
                <div class="d-grid forms23-grids">
                    <div class="form23">
                        <div class="main-bg">
                            <h6 class="sec-one">Ashi Jain</h6>
                            <div class="speci-login first-look">
                                <img src="~/Content/frontend/LoginImage/images/user.png" alt="" class="img-responsive">
                            </div>
                        </div>
                        <div class="bottom-content">
                            @using (@Html.BeginForm())
                            {
                                <form action="#" method="post">


                                    @Html.TextBoxFor(x => x.ad_username, new { @class = "input-form", @placeholder = "Your Name" })
                                    <span style="color:red">@Html.ValidationMessageFor(x => x.ad_username) </span>


                                    @Html.PasswordFor(x => x.ad_password, new { @class = "input-form", @placeholder = "Password" })
                                    <span style="color:red">@Html.ValidationMessageFor(x => x.ad_password) </span>
                                    <button type="submit" class="loginhny-btn btn">Login</button>
                                    <div class="form-group">
                                        <p style="color:red">@ViewBag.msg</p>
                                    </div>

                                </form>
                            }

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- //login-section -->
</body>

</html>

<script>
    $(document).ready(function () {
        $("#lilogin").addClass("active");
    });
</script>