﻿<!--header-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Public Library:@ViewBag.Title </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='//fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/frontend/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--slider-->
    <link href="~/Content/frontend/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Scripts/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script>
</head>
<body>


    <div class="btm_border">
        <div class="h_bg">
            <div class="wrap">
                <div class="header">
                    <div class="logo">
                        <h1><a href="index.html"><img src="~/Content/frontend/images/logo.png" alt=""></a></h1>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a class="facebook" href="#" target="_blank"> </a></li>
                            <li><a class="twitter" href="#" target="_blank"></a></li>
                            <li><a class="googleplus" href="#" target="_blank"></a></li>
                            <li><a class="pinterest" href="#" target="_blank"></a></li>
                            <li><a class="dribbble" href="#" target="_blank"></a></li>
                            <li><a class="vimeo" href="#" target="_blank"></a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class='h_btm'>
                    <div class='h_btm'>
                        <div class='cssmenu'>
                            <ul>


                                <li  id="lihome"><a href="@Url.Action("Index_fe", "Home")" id="active" class="aclick"><span>Home</span></a></li>
                                <li id="liabout"><a href="@Url.Action("About_fe", "Home")" class="aclick"><span>About</span></a></li>


                                <li id="libook"><a href="@Url.Action("Book_fe", "Home")" class="aclick"><span>Books</span></a></li>
                                <li  id="liauthor"class='has-sub'><a href="@Url.Action("Author_fe", "Home")" class="aclick"><span>Author</span></a></li>
                                <li id="licontact"><a href="@Url.Action("Contact_fe", "Home")"><span>Contact</span></a></li>
                                @if (Session["ad_username"] != null)
                                {
                                    <li  id="lilogout"><a href="@Url.Action("Index", "Admin")"><span>LogOut</span></a></li>
                                }
                                else
                                {
                                    <li id="lilogin"><a href="@Url.Action("Index", "Admin")"><span>LogIn</span></a></li>
                                }
                                @*@if (Session["ad_username"] != null)
                                    {

                                    <li class='has-sub'><a href="@Url.Action("AddBook", "AddBook")" class="aclick"><span>AddBook</span></a></li>
                                    <li class='last'><a href="@Url.Action("AddAuthor", "AboutAuthor")"><span>AddAuthor</span></a></li>
                                    <li class='last'><a href="@Url.Action("LogOut", "Admin")"><span>LogOut</span></a></li>

                                    }*@


                                <div class="clear"></div>
                            </ul>
                        </div>
                        <div class="search">
                            <form>
                                <input type="text" value="">
                                <input type="submit" value="">
                            </form>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @RenderBody()



    <!--footer-->
    <div class="footer-bg">
        <div class="wrap">
            <div class="footer">
                <div class="box1">
                    <h4 class="btm">Library Quotes</h4>
                    <p> " The extent of use to which the reading material of a library is put, should determine its importance rather than the staggering number of volumes.</p>
                    <a>- RABINDRANATH TAGORE</a>
                </div>
                <div class="box1">
                    <h4 class="btm">Categories</h4>
                    <nav>
                        <ul>
                            <li><a>Computers & Tech||<br></a></li>
                            <li><a>Comics||<br></a></li>
                            <li><a>Business||<br></a></li>
                            <li><a>Biographies||<br></a></li>
                            <li><a>Literature & Fiction||<br> </a></li>
                            <li><a>Science & Maths||<br></a></li>
                            <li><a>Edu & References<br></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="box1">
                    <h4 class="btm">Get in touch</h4>
                    <div class="box1_address">
                        <p>683 Pocket A2 ,</p>
                        <p>284403 City Square, Lalitpur,</p>
                        <p>INDIA</p>
                        <p>Phone:7987921648</p>

                        <p>Email: <a href="mailto:ashipali291198@gmail.com">ashipali291198@gmail.com</a></p>
                        <p>Follow on: <a href="https://facebook.com/">Facebook</a>

                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--footer1-->
    <div class="ftr-bg">
        <div class="wrap">
            <div class="footer">
                <div class="copy">
                    <p class="w3-link">© 2020 Public-Library. All Rights Reserved | Design by&nbsp; <a>VINOVE </a></p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('.aclick').click(function () {
            debugger;
            $(".active a").removeClass("active");

            $(this).parent().addClass('active')

        });

    </script>
</body>
</html>