﻿
@{
    ViewBag.Title = "About_fe";
    Layout = "~/Views/Shared/_fe.cshtml";
}

<!--main-->
<div class="main_btm">
    <div class="wrap">
        <div class="main">
            <div class="about-us">
                <div class="about-header">
                    <h3>About us</h3>
                    <div class="clear"> </div>
                </div>
                <div class="about-info">
                    <a href="#">
                        What makes Public Library
                        different from Conventional Libraries.
                    </a>
                    <p>
                        There are different categories of
                        libraries across the world, like 1) School Libraries – for
                        School Children/ teachers of that particular School, 2) College
                        Libraries --&nbsp; for College Student/ teachers/ faculty of
                        that particular College, 3) University libraries&nbsp; --
                        for&nbsp; Student/ teachers/ faculty/ Scholars of that
                        particular University, 4) Research Libraries&nbsp; --- for&nbsp;
                        Student/ teachers/ faculty/ Scholars of that particular
                        institutes.
                        These libraries can be accessed by
                        those students / teachers / faculty/ scholars --- till the date
                        they are enrolled. Once student period ends they are unable to
                        access. All these libraries are having unique characteristics
                        i.e. user centric approach.<br>
                        <br>
                        But learning/ knowledge acquiring is a life long process ---- so
                        where we can go ?<br>
                        <br>
                        &nbsp;1. Public Libraries --- As per definition of UNESCO –
                        "Public Libraries are known as People's University" --- which is
                        by the people, for the people and of the &nbsp;&nbsp;&nbsp;
                        people and free to all citizen irrespective of cast creed and
                        sex.<br>
                        <br>
                        &nbsp;2. Public Libraries&nbsp; is known as "People's
                        University"-&nbsp; because it is a place for life long learning.<br>
                        <br>
                        HIDCO has planned in New Town at Najrul Tirtha --- the "Public
                        Library", which is now a reality. This is also a smart Library
                        as all Smart Cities will have a "Smart Library". This Smart
                        Library in New Town will have unique feature. It will be citizen
                        centric library. Establishing this kind of library is really
                        great challenge for library authorities. Demographic character
                        of library is totally different from other cities/town/
                        municipality libraries. Here citizen are from across India and
                        having cultural diversity. Even many citizen have staying those
                        who have stayed in developed countries like USA, UK etc. They
                        have experienced in accessing modern libraries.<br>
                        <br>
                        So, it would cater all kinds of people. And we welcome all to be
                        a patron of this unique library.
                    </p>
                </div>
                <div class="specials">
                    <div class="specials-heading">
                        <h3>Glimpses Of Public Library</h3>
                        <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                    <div class="specials-grids">
                        <div class="special-grid">
                            <img src="~/Content/frontend/images/teen.jpg" title="image-name">
                            <a href="#">Teen Section</a>
                            <p>
                                A Teens-Only Space at Public Library: The Teen Section of New
                                Town library in the Nazrul Tirtha premises is designated for Young
                                Adults (Teen). This is to meet the needs of library patrons in the
                                age group of 13 - 19.
                            </p>
                        </div>
                        <div class="special-grid">
                            <img src="~/Content/frontend/images/pic3.jpg" title="image-name">
                            <a href="#">General Section</a>
                            <p>
                                Our General Section Collection contains books spanning a wide
                                range of relevant disciplines from Art &amp; History, Public
                                Health and Sociology to Clinical Medicine, Criminology and
                                Criminal justice, Vocational &amp; Professional Studies and more.
                            </p>
                        </div>
                        <div class="special-grid spe-grid">
                            <img src="~/Content/frontend/images/Kids.jpg" title="image-name">
                            <a href="#">Kid's Section</a>
                            <p>
                                Everyone is welcome to browse the collection or look
                                for a book, but seating in the Kid’s Library is limited to
                                children and their accompanying adults only. The Kid's Library
                                hosts a wide variety of programs for children and their
                                caregivers.
                            </p>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="clear"> </div>
                </div>
                <!---End-about---->
            </div>
        </div>
    </div>
</div>




<script>
		$(document).ready(function () {
			$("#liabout").addClass("active");
		});
</script>
