﻿@model IEnumerable<BooksLibrary.Models.Author>
@{
    ViewBag.Title = "Author_fe";
    Layout = "~/Views/Shared/_fe.cshtml";
}



<!--main-->
<div class="main_btm">
    <div class="wrap">
        <div class="main">
            <div class="content">
                <h2>our brilliant authors</h2>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <h3>@item.author_name</h3>
                        <h5>@item.author_country</h5>
                        <p><a href="#"><img src="~/Content/frontend/images/avatar.png" style="width:150px; height:150px;"></a> @item.author_desc</p>


                        <div class="clear"></div>
                    }
                }
            </div>

        </div>
    </div>
</div>

<script>
		$(document).ready(function () {
			$("#liauthor").addClass("active");
		});
</script>