﻿@model IEnumerable<BooksLibrary.Models.JoinClass>
@{
    ViewBag.Title = "Book_fe";
    Layout = "~/Views/Shared/_fe.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" ,initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card image hover</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/frontend/css/style1.css">
</head>
<body>

    <div class="container">
        <div class="row  ">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="column">
                        <div class="col-md-4"></div>
                        <div class="card shadow" style="width:15rem;  ">
                            <div class="inner">
                                <img src="~/Content/frontend/images/mybook.jpg" class="card-img-top" alt="card image not ">
                            </div>
                            <div class="card-body ">
                                <h5 class="card-title-">@item.book_title</h5>
                                <p class="card-text">Author:@item.author_name </p>
                                @if (@item.IsAvailable == 1)
                                {
                                    <a href="#" class="btn btn-success">Available</a>
                                }
                                else
                                {
                                    <a href="#" class="btn btn-danger">Not Available</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</body>
</html>

<script>
		$(document).ready(function () {
			$("#libook").addClass("active");
		});
</script>






