﻿
@{
    ViewBag.Title = "Contact_fe";
    Layout = "~/Views/Shared/_fe.cshtml";
}

<!--main-->
<div class="main_btm">
    <div class="wrap">
        <div class="main">
            <div class="contact">
                <div class="section group">
                    <div class="col span_1_of_2">
                        <div class="contact_info">
                            <h2>Find Us Here</h2>
                            <div class="map">
                                <iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color: #575757;text-align:left;font-size:13px">View Larger Map</a></small>
                            </div>
                        </div>
                        <div class="company_address">
                            <h2>Company Address </h2>
                            <p>683 Pocket A2 ,</p>
                            <p>284403 City Square, Lalitpur,</p>
                            <p>INDIA</p>
                            <p>Phone:7987921648</p>

                            <p>Email: <a href="mailto:ashipali291198@gmail.com">ashipali291198@gmail.com</a></p>
                            <p>Follow on: <a href="https://facebook.com/">Facebook</a>

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="col span_2_of_4">
                        <div class="contact-form">
                            <h2 class="style">Contact Us</h2>
                            <form>
                                <div>
                                    <span><label>NAME</label></span>
                                    <span><input name="userName" type="text" class="textbox"></span>
                                </div>
                                <div>
                                    <span><label>E-MAIL</label></span>
                                    <span><input name="userEmail" type="text" class="textbox"></span>
                                </div>
                                <div>
                                    <span><label>MOBILE</label></span>
                                    <span><input name="userPhone" type="text" class="textbox"></span>
                                </div>
                                <div>
                                    <span><label>SUBJECT</label></span>
                                    <span><textarea name="userMsg"> </textarea></span>
                                </div>
                                <div>
                                    <span><input type="submit" value="Submit me"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
		$(document).ready(function () {
			$("#licontact").addClass("active");
		});
</script>

