﻿@{
	ViewBag.Title = "Index_fe";
	Layout = "~/Views/Shared/_fe.cshtml";
}


<!------ Slider_bg ------------>
<div class="slider_bg">
	<div class="wrap">
		<!------ Slider------------>
		<div class="slider">
			<div class="slider-wrapper theme-default">
				<div id="slider" class="nivoSlider">
					<img src="~/Content/frontend/images/banner1.jpg" data-thumb="~/Content/frontend/images/1.jpg" alt="" />
					<img src="~/Content/frontend/images/banner2.jpg" data-thumb="~/Content/frontend/images/2.jpg" alt="" />
					<img src="~/Content/frontend/images/banner3.jpg" data-thumb="~/Content/frontend/images/3.jpg" alt="" />
				</div>
			</div>
		</div>
		<!------End Slider ------------>
		<div class="grids_1_of_3">
			<div class="grid_1_of_3 images_1_of_3">
				<img src="~/Content/frontend/images/icon1.jpg">
				<h3>Rules & Regulations</h3>
				
			</div>
			<div class="grid_1_of_3 images_1_of_3">
				<img src="~/Content/frontend/images/icon2.jpg">
				<h3>Membership</h3>
				
			</div>
			<div class="grid_1_of_3 images_1_of_3">
				<img src="~/Content/frontend/images/icon3.jpg">
				<h3>Timings</h3>
				
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>



<!--main-->
<div class="main_bg">
	<div class="wrap">
		<div class="main">
			<div class="content">
				<h2>what our customer says</h2>
				<h3>“A good book is an event in my life.”</h3>
				<p><a href="#"><img src="~/Content/frontend/images/pic1.jpg"></a> “I have been reading from a young age. I have read at every stage of my life and there has never been a time when I have not enjoyed it. I feel they are the most diligent teachers and pedantic counselors who help you throughout your life. They are the nicest friend, quietest and faithful. I feel the joy, the peace in reading and wanted to divvy up the joy with others. I trust the readers to help me grow the Public Library family.”- Shubham Jain, MBA from Amity University, Noida </p>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="main_btm">
		<div class="wrap">
			<div class="main">
				<div class="gallery">
					<h3>Our latest projects</h3>
					<ul>
						<li><a class="gallery-img" href="~/Content/frontend/images/gallery1.jpg"><img src="~/Content/frontend/images/gallery1.jpg" alt=""></a><a href="#"></a></li>
						<li><a class="gallery-img" href="~/Content/frontend/images/gallery2.jpg"><img src="~/Content/frontend/images/gallery2.jpg" alt=""></a><a href="#"></a></li>
						<li><a class="gallery-img" href="~/Content/frontend/images/gallery3.jpg"><img src="~/Content/frontend/images/gallery3.jpg" alt=""></a><a href="#"></a></li>
						<li><a class="gallery-img" href="~/Content/frontend/images/gallery4.jpg"><img src="~/Content/frontend/images/gallery4.jpg" alt=""></a><a href="#"></a></li>
						<li><a class="gallery-img" href="~/Content/frontend/images/gallery4.jpg"><img src="~/Content/frontend/images/gallery4.jpg" alt=""></a><a href="#"></a></li>
						<li><a class="gallery-img" href="~/Content/frontend/images/gallery3.jpg"><img src="~/Content/frontend/images/gallery3.jpg" alt=""></a><a href="#"></a></li>
						<li><a class="gallery-img" href="~/Content/frontend/images/gallery5.jpg"><img src="~/Content/frontend/images/gallery5.jpg" alt=""></a><a href="#"></a></li>
						<li><a class="gallery-img" href="~/Content/frontend/images/gallery6.jpg"><img src="~/Content/frontend/images/gallery6.jpg" alt=""></a><a href="#"></a></li>
					</ul>
				</div>
				<script type="text/javascript" src="~/Scripts/js/jquery.lightbox.js"></script>
				<link rel="stylesheet" type="text/css" href="~/Content/frontend/css/lightbox.css" media="screen">
				<script type="text/javascript">
					$(function () {
						$('.gallery a.gallery-img').lightBox();
					});
				</script>
				<div class="terminals">
					<h3>Testimonials</h3>
					<p>
						“I would actually like to take the time to thank you. I was very pleasantly surprised with the level of detail about the AHA exams that you had in your books. I spent a few hours reading and studying your books and was impressed to say the least. In my job, I am expected to know this information and be able to recall it at a moment’s notice.

						Your books are an easy way for me to memorize the essential information and stay current."
					</p>
					<p>“Books to the ceiling, Books to the sky, My pile of books is a mile high. How I love them! How I need them! I’ll have a long beard by the time I read them.” </p>
					<span><a>- Jenny</a> &nbsp; &nbsp;INDIA</span>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
	</div>




	<script>
		$(document).ready(function () {
			$("#lihome").addClass("active");
		});
	</script>
