﻿



==========================Bootstrap login========================

@model  BooksLibrary.Models.Admin
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>



<style>
    #box {
        border: 1px solid black;
        height: 100%;
    }

    /*#main-div {
        height: 900px;
        background-image: url('~/Content/frontend/images/LoginBg.jpg');
        background-size: 100% 900px;
    }*/

    .insidebox {
        border: 1px solid black;
        margin: 10% auto 10% auto;
        max-width: 500px;
        min-width: 200px;
        padding-left: 60px;
        padding-right: 60px;
        border-radius: 10px;
        background-color: whitesmoke;
    }

    div h1 {
        text-align: center;
    }

    p#para {
        text-align: center;
        font-size: 14px;
    }
</style>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />




<script src="js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<div id="main-div">

    <div id="box" class="img-responsive">
        @using (@Html.BeginForm())
        {
            <div class="insidebox">
                <div> <h1>Log In</h1></div>




                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>

                        @Html.TextBoxFor(x => x.ad_username, new { @class = "form-control", @placeholder = "Username" })

                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.ad_username) </span>

                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>

                        @Html.PasswordFor(x => x.ad_password, new { @class = "form-control", @placeholder = "Password" })

                    </div>
                    <span style="color:red">   @Html.ValidationMessageFor(x => x.ad_password) </span>
                </div>




                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-success btn-block" />

                </div>

                <div class="form-group">
                    <p style="color:red">@ViewBag.msg</p>
                </div>



            </div>

        }
    </div>

</div>


