﻿<!DOCTYPE html >
<html >
<head >
<meta charset="utf-8" / >
<title > </title >
</head >
<body >


</body >


.container {

margin-top:8%;

}
.inner {

overflow:hidden;

}
    .inner img {
    
    transition:all 1.5s ease;

    }
    .inner:hover img {
    transform:scale(1.5);
    }
.column {

float:left;
width=33.33%;
padding:15px;
}
</html >
