﻿@model IEnumerable<BooksLibrary.Models.Book>


@{
    ViewBag.Title = "ShowBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowData</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "AddBook")
    </p>
    <table class="table">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.book_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.book_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.book_author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.book_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.book_publish_year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.book_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_publish_year)
        </td>
        <td>
            @if (item.IsAvailable == 0)
            {
                <span>No</span>
            }
            else
            { <span>Yes</span>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.book_id }) |

            @Html.ActionLink("Delete", "Delete", new { id = item.book_id }) 

            
        </td>
    </tr>
        }
        <p>@ViewBag.msg</p>

    </table>
</body>
</html>
