﻿@model IEnumerable<BooksLibrary.Models.Author>

@{
    ViewBag.Title = "AShowData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AShowData</title>
    <style>
        table {
            word-wrap: break-word width:200px;
        }
    </style>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "AddAuthor")
    </p>
    <div style="overflow-x:auto;">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.author_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.author_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.author_desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.author_country)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.author_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.author_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.author_desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.author_country)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "AEdit", new { id = item.author_id }) |

                        @Html.ActionLink("Delete", "Delete", new { id = item.author_id })

                        

                    </td>
                </tr>
            }
            <p>@ViewBag.msg</p>

        </table>
    </div>
</body>
</html>
